<div class="login  login--forgot-password" v-bind:class="{ display_none: tab_opened != 'forgot_your_password' }">
  <div class="login__content-wrappper">
    <div class="login__content">
      <%= form_tag users_passwords_path do%>
        <div class="login__decor"></div>
        <h2 class="login__title">Forgot your password?</h2>
        <label class="login__label">
          <span class="login__text">Email (as login)</span>
          <%= email_field_tag 'email', params[:email], class: 'login__field', required: true %>
        </label>
        <%= button_tag 'Send me instructions', class: 'authorization__btn' %>
      <% end %>
    </div>
  </div>
</div>
