<div class="login  login--notification" v-bind:class="{ display_none: tab_opened != 'instructions' }">
  <div class="login__content-wrappper">
    <div class="login__content">
      <div class="login__decor"></div>
        <p class="login__notification">
          You will receive an&nbsp;email with instructions on&nbsp;how to&nbsp;reset your password in&nbsp;a&nbsp;few minutes
        </p>
    </div>
  </div>
</div>
